GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://local_admin:local_admin@localhost:54323/common_db

POSTGRESQL_DSN=postgresql://local_admin:local_admin@localhost:54323/common_db

AI_API_KEY=qwerty100500
AI_HOST=http://localhost:11434

SERVICE_NAME=ai-vector-embedding
VERSION=0.0.1-local
DEBUG=false
ENVIRONMENT=local

SERVER_HTTP_ADDR=:7777
HEALTH_SERVER_ADDR=0.0.0.0:8102
ALLOWED_ORIGINS="http://localhost:3000,http://0.0.0.0:3000"

CHUNKER_SERVER_GRPC_HOST=0.0.0.0:50051
CHUNKER_SERVER_GRPC_SECURE=false
